.dock-control {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.dock-control .dock-panel {
  position: absolute;
  background-color: #2d2d30;
  z-index: 10;
  box-shadow: 1px 0px 10px #B9B9B9;
}
.dock-control .dock-panel.left {
  left: 0;
  top: 0;
  bottom: 0;
}
.dock-control .dock-panel.left .splitter {
  right: 0;
  top: 0;
  bottom: 0;
  cursor: w-resize;
}
.dock-control .dock-panel.top {
  left: 0;
  right: 0;
  top: 0;
}
.dock-control .dock-panel.top .splitter {
  left: 0;
  right: 0;
  bottom: 0;
  cursor: n-resize;
  height: 3px;
  width: auto;
}
.dock-control .dock-panel.right {
  right: 0;
  top: 0;
  bottom: 0;
}
.dock-control .dock-panel.right .splitter {
  left: 0;
  top: 0;
  bottom: 0;
  cursor: w-resize;
}
.dock-control .dock-panel.bottom {
  left: 0;
  right: 0;
  bottom: 0;
}
.dock-control .dock-panel.bottom .splitter {
  left: 0;
  right: 0;
  top: 0;
  cursor: n-resize;
  height: 3px;
  width: auto;
}
.dock-control .dock-panel.center {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.dock-control .dock-panel .splitter {
  width: 3px;
  display: inline-block;
  background: #007acb;
  position: absolute;
}
