.dock-control {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .dock-panel {
    position: absolute;
    background-color: #2d2d30;
    z-index: 10;
    box-shadow: 1px 0px 10px #B9B9B9;

    &.left {
      left: 0;
      top: 0;
      bottom: 0;
      .splitter {
        right: 0;
        top: 0;
        bottom: 0;
        cursor: w-resize;
      }
    }
    &.top {
      left: 0;
      right: 0;
      top: 0;
      .splitter {
        left: 0;
        right: 0;
        bottom: 0;
        cursor: n-resize;
        height: 3px;
        width: auto;
      }
    }
    &.right {
      right: 0;
      top: 0;
      bottom: 0;
      .splitter {
        left: 0;
        top: 0;
        bottom: 0;
        cursor: w-resize;
      }
    }
    &.bottom {
      left: 0;
      right: 0;
      bottom: 0;
      .splitter {
        left: 0;
        right: 0;
        top: 0;
        cursor: n-resize;
        height: 3px;
        width: auto;
      }
    }

    &.center {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    .splitter {
      width: 3px;
      display: inline-block;
      background: #007acb;
      position: absolute;
    }

    .dock-container {
    }
  }
}