/*Fonts*/
/*Colors*/
.dock-control {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.dock-control .dock-panel {
  position: absolute;
  background-color: #2d2d30;
  z-index: 10;
  box-shadow: 1px 0px 10px #B9B9B9;
}
.dock-control .dock-panel.left {
  left: 0;
  top: 0;
  bottom: 0;
}
.dock-control .dock-panel.left .splitter {
  right: 0;
  top: 0;
  bottom: 0;
  cursor: w-resize;
}
.dock-control .dock-panel.top {
  left: 0;
  right: 0;
  top: 0;
}
.dock-control .dock-panel.top .splitter {
  left: 0;
  right: 0;
  bottom: 0;
  cursor: n-resize;
  height: 3px;
  width: auto;
}
.dock-control .dock-panel.right {
  right: 0;
  top: 0;
  bottom: 0;
}
.dock-control .dock-panel.right .splitter {
  left: 0;
  top: 0;
  bottom: 0;
  cursor: w-resize;
}
.dock-control .dock-panel.bottom {
  left: 0;
  right: 0;
  bottom: 0;
}
.dock-control .dock-panel.bottom .splitter {
  left: 0;
  right: 0;
  top: 0;
  cursor: n-resize;
  height: 3px;
  width: auto;
}
.dock-control .dock-panel.center {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.dock-control .dock-panel.collapsed.left,
.dock-control .dock-panel.collapsed.right {
  min-width: 30px !important;
  width: 30px !important;
}
.dock-control .dock-panel.collapsed.left .dock-panel-title,
.dock-control .dock-panel.collapsed.right .dock-panel-title {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.dock-control .dock-panel .dock-panel-title {
  color: #ffffff;
  background: #007acb;
  padding: 4px 4px 4px 15px;
}
.dock-control .dock-panel .splitter {
  width: 5px;
  display: inline-block;
  background: #060d1e;
  /* Old browsers */
  background: -moz-linear-gradient(left, #060d1e 0%, #7a7a7a 30%, #7a7a7a 70%, #060d1e 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #060d1e), color-stop(30%, #7a7a7a), color-stop(70%, #7a7a7a), color-stop(100%, #060d1e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #060d1e 0%, #7a7a7a 30%, #7a7a7a 70%, #060d1e 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #060d1e 0%, #7a7a7a 30%, #7a7a7a 70%, #060d1e 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #060d1e 0%, #7a7a7a 30%, #7a7a7a 70%, #060d1e 100%);
  /* IE10+ */
  background: linear-gradient(to right, #060d1e 0%, #7a7a7a 30%, #7a7a7a 70%, #060d1e 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@darker', endColorstr='@darker', GradientType=1);
  /* IE6-9 */
  position: absolute;
}
