/*Fonts*/
/*Colors*/
.editor {
  overflow: visible;
}
/* region Item*/
.item .box {
  fill: #DBDBDB;
  stroke-width: 1;
  stroke: #060d1e;
}
.item .box.selected {
  stroke: #007acb;
}
.item .box-header {
  line-height: 21px;
}
.item .box-header span {
  color: #282828;
}
.item .connector {
  cursor: pointer;
}
.item .connector:hover {
  stroke-width: 5px;
}
.item .connector.un-bind {
  fill: #DBDBDB;
}
.string {
  fill: #db4f00;
  stroke: #db4f00;
}
.number {
  fill: #3088db;
  stroke: #3088db;
}
.bool {
  fill: #00b821;
  stroke: #00b821;
}
/* endregion Item*/
