/* region Item*/
.item:hover .box {
  stroke: #005EB8;
}
.item:hover .connector {
  fill: #005EB8;
  stroke: #005EB8;
}
.item .box {
  fill: #DBDBDB;
  stroke-width: 1;
  stroke: #3088db;
}
.item .box-header {
  line-height: 21px;
}
.item .box-header span {
  color: #282828;
}
.item .connector {
  fill: #3088db;
  stroke: #3088db;
}
/* endregion Item*/
