/* region Item*/
.item {

    &:hover {
        .box {
            stroke: #005EB8;
        }
        .connector {
            fill: #005EB8;
        }
    }

    .box {
        fill: #DBDBDB;
        stroke-width: 1;
        stroke: #3088db;
    }

    .connector {
        fill: #3088db;
    }

}

/* endregion Item*/