@import "shared.less";

body {
    background-color: @light-grey;
}

.header {
    height: 60px;
    line-height: 60px;
    background-color: #2d2d30;
    color: @white;
    width: 100%;
    position: fixed;
    box-shadow: 0px 1px 10px @box-color;
    z-index: 100;
}

.page-wrapper {
    padding-top: 60px;
    white-space: nowrap;
    font-size: 0;
}

.tool-panel {
    margin-top: 60px;
    z-index: 11 !important;
}

.editor-panel {
    margin-top: 60px;
    background-color: @light-grey !important;
    .title {
        color: @dark-blue !important;
        background: none !important;
    }
}

.editor-container {
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}