<svg>
    <g class="item" draggable ng-click="onItemClick()">
        <rect ng-width="width" ng-height="height" ng-x="x" ng-y="y" ng-class="{ selected: selected }"
              class="box" rx="2" ry="2">
        </rect>
        <!--Left connection-->
        <circle r="5" class="connector" ng-repeat="property in inputs = (properties|filter:{direction:'input'})"
                ng-cx="x"
                ng-cy="y+(height/(inputs.length + 1))*($index+1)"></circle>
        <!--Right connections-->
        <g ng-repeat="property in outputs = (properties|filter:{direction:'output'})">
            <circle r="5" class="connector" ng-cx="x+width"
                    ng-cy="y+(height/(outputs.length + 1))*($index+1)"></circle>
            <line ng-if="property.bind" ng-x1="x+width" ng-y1="y+(height/(outputs.length + 1))*($index+1)" ng-x2="getItem(property).x" ng-y2="getItem(property).y" class="connector" />
        </g>

        <!--Item text-->
        <foreignObject ng-x="x" ng-y="y" ng-width="width" ng-height="height">
            <div class="text-space m left top" ng-transclude>

            </div>
        </foreignObject>
    </g>
</svg>