<svg>
    <g class="item" draggable>
        <rect ng-width="width" ng-height="height" ng-x="x" ng-y="y"
              class="box" rx="2" ry="2">
        </rect>
        <!--Left connection-->
        <circle r="5" ng-if="parent" class="connector" ng-cx="x" ng-cy="y+height/2"></circle>
        <!--Right connections-->
        <g ng-repeat="connection in connections">
            <circle r="5" class="connector" ng-cx="x+width"
                    ng-cy="y+(height/($parent.connections.length + 1))*($index+1)"></circle>
            <line ng-x1="x+width" ng-y1="y+(height/($parent.connections.length + 1))*($index+1)" ng-x2="connection.x" ng-y2="connection.y+(height/2)" class="connector" />
        </g>

        <!--Item text-->
        <foreignObject ng-x="x" ng-y="y" ng-width="width" ng-height="height">
            <div class="text-space m left top" ng-transclude>

            </div>
        </foreignObject>
    </g>
</svg>